aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.11.1
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
Django==5.0
django-phonenumber-field==8.4.0
frozenlist==1.8.0
idna==3.13
joblib==1.5.3
multidict==6.7.1
nltk==3.9.4
numpy==2.4.4
phonenumbers==9.0.29
propcache==0.4.1
psycopg2-binary==2.9.12
PyJWT==2.12.1
python-dotenv==1.2.2
regex==2026.4.4
requests==2.33.1
scikit-learn==1.6.1
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.3
twilio==9.10.5
urllib3==2.6.3
yarl==1.23.0
